:root {
    --background-color-light: #fff;
    --background-color-dark: #1b1b1d;
    --text-primary-color-light: #1c1e21;
    --text-primary-color-dark: #fff;
    --text-secondary-color-light: #fff; 
    --text-secondary-color-dark: #fff; 
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --text-primary-color: var(--text-primary-color-light);
        --text-secondary-color: var(--text-secondary-color-light);
    }
}

@media (prefers-color-scheme: darks) {
    :root {
        --background-color: var(--background-color-dark);
        --text-primary-color: var(--text-primary-color-dark);
        --text-secondary-color: var(--text-secondary-color-dark);
    }
}


/* Scope all styles to the custom homepage */
.custom-homepage-wrapper {
    width: 100%;
    min-height: 100vh; /* Changed from calc(100vh - 60px - 50px) to 100vh */
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.custom-homepage-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 2rem 0; 
}

.custom-homepage-wrapper .text-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.custom-homepage-wrapper .image-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 13px 15px rgba(0, 0, 0, 0.6); 
}

.custom-homepage-wrapper h1 {
    color: #ebedf0;
    font-size: 48px;
    margin-bottom: 20px;
}

.custom-homepage-wrapper .auto-type {
    color: #9c9abf;
}

.custom-homepage-wrapper .top-text {
    font-size: 30px;
    font-weight: normal;
    color: var(--text-primary-color);
}

.custom-homepage-wrapper .bottom-text {
    font-size: 25px;
    font-weight: normal;
    color: var(--text-primary-color);
    max-width: 400px;
}

.custom-homepage-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.custom-homepage-wrapper .button-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.custom-homepage-wrapper .custom-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-homepage-wrapper .primary-button {
    background-color: #9c9abf;
    color: #1b1b1d;;
}

.custom-homepage-wrapper .primary-button:hover {
    background-color: #27263b;
    color: #fff;
}

.custom-homepage-wrapper .secondary-button {
    background-color: #2b3137;
    color: #fff;
}

.custom-homepage-wrapper .secondary-button:hover {
    background-color: #ffffff;
    color: #1b1b1d;
}

/* GITHUB BUTTON */

.custom-homepage-wrapper .github-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-homepage-wrapper .button-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: inline-block;
    overflow: hidden;
}
.custom-homepage-wrapper .github-button .button-icon {
    fill: currentColor;
}

@media (max-width: 850px) {
    .custom-homepage-wrapper .image-content {
        display: none;
    }
}

@media (max-width: 768px) {
    .custom-homepage-wrapper .button-container {
        flex-direction: column;
        align-items: stretch;
    }

    .custom-homepage-wrapper .custom-button {
        text-align: center;
    }

    .custom-homepage-wrapper .github-button {
        justify-content: center;
    }
}
